@page
@model DevaEnglish.Pages.BookingsModel
@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Pages/_Layout.cshtml";
    string title = "";
}
<style>
    media
    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        padding: 10px 15px;
        position: relative;
    }

    table {
        background: #f5f5f5;
        border-collapse: separate;
        font-size: 18px;
        line-height: 24px;
        margin: 30px auto;
        text-align: left;
        width: 1200px
    }
</style>

@if (TempData["bookingResponse"].Equals(3))
{
    <div class="alert alert-danger" role="alert">
        <p>Booking changes submission was Unsuccessful!</p>
    </div>
}
<form method="post">
    <div class="table-responsive">
        <table class="container  table-striped" id="eventsTable">
            <tr class="container" style="background: #bababa">
                <td><strong> Location and Coach Name</strong></td>
                <td><strong> Start Date</strong></td>
                <td><strong> End Date</strong></td>
                <td><strong> Booking Status</strong></td>
                <td><strong> Refusal Reasons</strong></td>
            </tr>
            @for (int i = 0; i < Model.LinkGroups.Count; i++)
            {
                @foreach (var point in Model.MeetingPoint)
                {
                    if (point.MeetingPointID == Model.Groups[i].MeetingPointID)
                    {
                        title = point.Name;
                    }
                }
                <tr class="container" style="background: #ffffff">
                    <td>
                        <strong> @title</strong>
                        <input type="hidden" asp-for="LinkGroups[i].LinkID" value="@Model.LinkGroups.ElementAt(i).LinkID" />
                    </td>
                    <td>
                        @Model.LinkGroups.ElementAt(i).ArrivalDate.ToString("yyyy-MM-dd")
                        @*<input type="hidden" asp-for="Groups[i].ArrivalDate" value="@Model.Groups.ElementAt(i).ArrivalDate" />*@
                    </td>
                    <td>
                        @Model.LinkGroups.ElementAt(i).DepartureDate.ToString("yyyy-MM-dd")
                        @*<input type="hidden" asp-for="Groups[i].DepartureDate" value="@Model.Groups.ElementAt(i).DepartureDate" />*@
                    </td>
                    <td>
                        <select id="bookingTable_@Model.LinkGroups.ElementAt(i).LinkID" asp-for="LinkGroups[i].Status" onchange="filterBooking(@Model.LinkGroups.ElementAt(i).LinkID)">
                            <option value="">Select your booking option</option>
                            <option value="Confirmed">Confirm</option>
                            <option value="CantHost">Refuse</option>
                        </select>
                    </td>
                    <td>
                        <input style="display: none" asp-for="LinkGroups[i].Notes" id="bookingNotes_@Model.LinkGroups.ElementAt(i).LinkID" type="text" />
                    </td>
                </tr>
            }
        </table>
        <div class="row justify-content-around">
            <div class="col-xs-4">
                <input class="font-weight-bold btn btn-success btn-lg" type="submit" value="Save" />
            </div>
        </div>
    </div>
</form>

<script src="~/js/Events.js" asp-append-version="true"></script>
